@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300i,400,700&display=swap');

:root {
  --primaryColor: #FFBf00;
  --mainWhite:#FFFCFF;
  --mainBlack:#030504;
  --mainGrey:#DCDCDC;
  --mainRed:#E84855;
  --mainBlue:#295CAD;
  --mainSpacing:0.1rem;
  --mainTransition: all 0.8s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   }

body {
  color: var(--mainBlack);
  font-family: 'Roboto Mono', monospace !important;
  background:var(--mainGrey);
}

/*-- navbar --*/

.navbar {
  background: var(--mainWhite);
}

.navbar-icon {
  font-size: 2rem;
  color: var(--mainBlue);
}

.navbar-toggler {
  outline: none !important;
}

.nav-link {
  color: var(--mainBlack);
  text-transform: capitalize;
}

.nav-link:hover {
  color: var(--mainBlue);
}

.nav-icon {
  font-size: 1.5rem;
  color: var(--mainBlue);
  text-decoration: none;
  transition: --mainTransition;
}

.nav-icon:hover {
  color: var(--mainBlack);
}
